/web/bundles/
/web/uploads/
web/css/*
web/js/*
web/fonts/*
!web/uploads/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/app/build/
/vendor/
/bin/
/composer.phar
composer.lock
app/.phpunit.xml.swp
backups/
web/sitemap*xml*
.vagrant
.idea
.DS_Store
node_modules/*